.sideMenu
 margin-top: 20%
.currentOrder
 margin-top: 5%
 transition: 1s ease-out
 opacity: 1
.addOrderContainer
 margin-top: 2%
.addOrder
 margin-top: 5%
.addOrderContainer
 transition: all .4s ease-out
.timelineContainer
 transition: all .4s ease-out
.settingsButton
  position: fixed
  bottom: 6%
  right: 91%
  opacity: .7
  font-size: 1.7em
  z-index: 100
  transition: all .3s ease-out
  &:hover
    opacity: 1
.controls
  transition: all .4s ease-out
  margin-top: 200px