@import './node_modules/bulma/sass/utilities/initial-variables'
@import './node_modules/bulma/sass/utilities/functions'
// Custom sass for bulma here
$primary: #318CE7
$info: 	#009933
$family-serif: "Merriweather", "Georgia", serif


// Modal Styles
$modal-content-width: 900px
$modal-card-head-border-bottom: 3px solid rgba($primary, .76)
$modal-close-top: 30px
$modal-background-background-color: rgba($primary, .2)
$modal-card-body-background-color: rgba($black, .86)
$modal-card-head-background-color: rgba($black, .86)
$modal-card-title-color: rgba($white, 1)

//Table Styles
$table-color: $black
$table-background-color: rgba($white, .86)
$table-head-cell-color: $info
$table-foot-cell-color: $info
$table-row-hover-background-color: rgba($info, .7)
@import './node_modules/bulma/bulma.sass'
