@import '../../sass/media.sass'
+media('>=desktop')
  .buildCard-enter 
    transform: translateX(100%)
  .buildCard-enter.buildCard-enter-active 
    transform: translateX(0%)
  .buildCard-exit
    transform: translateX(0%)
  .buildCard-exit.buildCard-exit-active 
    transform: translateX(130%)
  .pages
    background-color: black
  .page a
    display: inline-block
    padding: 8px 16px
    color: black
    text-decoration: none
  .page a.active 
    background-color: #26c426
    text-decoration: none
    color: white
    font-family: 'Open Sans', serif
    background: #F2F6FA
  footer 
    background-color: #F2F6FA !important

  .topNav 
    border-top: 5px solid #3498DB

  .topNav .container 
    border-bottom: 1px solid #E6EAEE

  .container .columns 
    margin: 3rem 0

  .navbar-menu .navbar-item 
    padding: 0 2rem

  aside.menu 
    padding-top: 3rem

  aside.menu .menu-list 
    line-height: 1.5

  aside.menu .menu-label 
    padding-left: 10px
    font-weight: 700

  .button.is-success.is-alt 
    background: -webkit-linear-gradient(to bottom left, #26c426, darkgreen)
    background: linear-gradient(to bottom left, #26c426, darkgreen)

  .media-left img 
    border-radius: 50%

  .media-content p 
    font-size: 14px
    line-height: 2.3
    font-weight: 700
    color: #8F99A3

  article.post 
    margin: 1rem
    padding-bottom: 1rem
    border-bottom: 1px solid #E6EAEE

  article.post:last-child 
    padding-bottom: 1rem
    border-bottom: none
  .title
    text-align: center
    font-size: 2em
  .buildsContainer
    overflow: hidden
  .likebuild :hover
    cursor: pointer
    transition: .4s ease-out
    transform: scale(1.5)
  ul.pagination a
    color: black
  ul.pagination .active
    background-color: rgba(0, 100, 0, .4)
    padding: 10px
    border-radius: 2px
  .postedBy
    margin-right: 5%
    margin-left: 2%
  .expandDrawer-enter 
    transform: translateY(100%)
  .expandDrawer-enter.expandDrawer-enter-active 
    transform: translateY(0%)
  .expandDrawer-exit
    transform: translateY(0%)
  .expandDrawer-exit.expandDrawer-exit-active 
    transform: translateY(130%)
  .builds-container
  .post, .preview-card
    background-color: white
    padding: 15px
    margin-bottom: 10px;
    padding-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  .post:hover, .preview-card:hover
    padding: 15px
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  .preview-card
  .card-header-title
    text-align: center
    font-size: 1.8em
    text-decoration-line: none
  .card-header-subtitle
    text-align: center
    font-size: 1.1em
    text-decoration: none
  .preview-card
  .card-content
    .column
    padding: 30px
  .preview-card
  .card-content > .row
    margin: 20px 0px
  .newBuildButton
    position: fixed
    bottom: 6%
    left: 85%
    font-size: 5em
  .filter-race-menu
    display: flex
    flex-direction: column 
    justify-content: space-around
    padding: 10px
    background: white
    >*
      transition: all .4s
      padding: 5%
      margin-top: 25px
      font-size: 1.3em
      &:hover
        background: black
        color: white
  .searchBox
    margin-left: 2%
    padding: 5px
  .buildsSection
    width: 100%
+media('<=tablet')
  ul.pagination
    display: flex
    justify-content: space-between
  ul.pagination a
    color: black
  ul.pagination .active
    background-color: rgba(0, 100, 0, .4)
    padding: 10px
    border-radius: 2px
  .newBuildButton
    position: fixed
    bottom: 2%
    left: 79%
    font-size: 2em
  .filter-race-menu
    display: flex
    flex-direction: row 
    justify-content: space-around
    padding: 10px
  .buildsPageContainer
    margin-top: 12%
  .searchBox
    width: 60%
    margin-left: 2%
    padding: 5px
  .buildsSection
    width: 100%
  