.mainHero
 background-image: url('/assets/arthbg.svg')
 background-size: contain
 background-position-x: center
 background-repeat: no-repeat
.spinner
  margin: 100px auto
  width: 50px
  height: 40px
  text-align: center
  font-size: 10px
  > div
    background-color: #333
    height: 100%
    width: 6px
    display: inline-block
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out
    animation: sk-stretchdelay 1.2s infinite ease-in-out
  .rect2
    -webkit-animation-delay: -1.1s
    animation-delay: -1.1s
  .rect3
    -webkit-animation-delay: -1.0s
    animation-delay: -1.0s
  .rect4
    -webkit-animation-delay: -0.9s
    animation-delay: -0.9s
  .rect5
    -webkit-animation-delay: -0.8s
    animation-delay: -0.8s
  .rect6
    -webkit-animation-delay: -0.7s
    animation-delay: -0.7s
  .rect7
    -webkit-animation-delay: -0.6s
    animation-delay: -0.6s

@-webkit-keyframes sk-stretchdelay
  0%, 40%, 100%
    -webkit-transform: scaleY(0.4)

  20%
    -webkit-transform: scaleY(1)


@keyframes sk-stretchdelay
  0%, 40%, 100%
    transform: scaleY(0.4)
    -webkit-transform: scaleY(0.4)

  20%
    transform: scaleY(1)
    -webkit-transform: scaleY(1)
.control:focus-within
  label
   color: green
.avatar
 img
  padding: 4px
  border: 1px solid grey
  background-color: black

.unitImage
 max-height: 100%
 height: auto

.infoColumn
 height: 250px
 margin-bottom: 1.5rem
 
.infoColumn .icon
 margin-top: 1.5rem
 margin-bottom: 1.5rem
 color: black
.infoText
 font-style: italic
 font-size: 20px
 line-height: 1.5
 margin-top: 3px
.builds-container
 background-color: rgba(0,0,0,0.02)
 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
.post, .preview-card
  background-color: white
  padding: 15px
  margin-bottom: 10px;
  padding-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
.post:hover, .preview-card:hover
  padding: 15px
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
.preview-card
.card-header-title
  text-align: center
  font-size: 1.3em
  text-decoration-line: none
.card-header-subtitle
  text-align: center
  font-size: 1.1em
  text-decoration: none
.preview-card
 .card-content
  .column
   padding: 30px
.preview-card
 .card-content > .row
   margin: 20px 0px
.filter-race-menu > li > a
 &:active
  color: green
.filter-race-menu
 width: 50%
.cardFields > div
 margin-top: 20px
.cardFields
 color: green