.buildText
  color: black 
  background: rgba(0,100,0,.4) 
  border-radius: 5px
  padding: 3%
  margin: auto
  font-size: 1.5em
  transition: all .2s ease-out
.buildText
  &:hover
    background: black
    color: white
.editText
  padding: 1%
.tags
  margin-left: 2%
.editButton
  padding: 2%
  margin: 1%
.userPost
  height: 14%
  margin: 0 auto
  width: 45%
  padding: 3%
.userBuildsContainer
  margin: 0 auto
.userControlButtons .button
  margin: 2%
